# --------------------------
# Dart / Flutter
# --------------------------

# Files and directories created by pub
.dart_tool/
.packages
build/
# pubspec.lock can be committed if building an application, ignore otherwise
pubspec.lock

# Directory created by dartdoc
doc/api/

# dotenv environment variables
.env*

# Flutter plugin files
.flutter-plugins
.flutter-plugins-dependencies

# --------------------------
# Generated JavaScript files
# --------------------------

# Avoid committing generated JS from dart2js
*.dart.js
*.info.json      # Produced by --dump-info
*.js              # Only ignore if generated, not for source JS files
*.js_
*.js.deps
*.js.map

# --------------------------
# Optional / OS-specific
# --------------------------

# Add any OS-specific ignores here if needed
# e.g., macOS
.DS_Store
# e.g., Windows
Thumbs.db
